[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
requests = "*"
clearbit = "*"
psycopg2 = "*"
django-celery-beat = "*"
django-celery-results = "*"
drf-yasg = "*"

[dev-packages]
black = "*"
flake8 = "*"
bpython = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
